body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


.btn{
    z-index: 10;
    cursor: pointer;
    position: relative;
    
}
#Rotate img{
    width: 300px;
}
@media screen and (max-width: 768px) {
    #toggle{
        width: 300px;
        height: 300px;
    }
    #Rotate img{
        width: 200px;
    }
    #btnA,#btnB,#btnC,#btnD{
        border: none;
        height: 150px;
    }
   
}